<div data-component="my-profile">
  <div class="img-holder">
    <img class="img" src="./../../assets/img/profile/profile-picture.png" alt="">
  </div>
  <div class="text-holder">
    <h4 class="name">{{ name }}</h4>
    <p class="location">{{ location }}</p>
  </div>
  <div class="btn-holder">
    <button class="btn reactions">
        <img alt="Love icon" title="Like" class="post-reaction-icon" src="https://lh3.googleusercontent.com/3wSC_O5LD8hwv7Jb8h4Ag_LlZTNL1bWGDploy6Rnk4n3VHBxnwX90rWS4rTJpsFS_Bd5QDsPQeEEgB6nirgz92-mrT7BuLdYtlzhk7OOC2TiN-z3xGGSgax4uvRUUnPeLaUa3lDOJSfxd5FPgb9HCHc3Tc-GLuyAWheNsB_eJJbTULPzDmOCVbLpOA0qCNAtbjQorKbmi-6xBqcNY5e-XVl86D7J9-g8aWU4F65RwtLqWPY0NPVQ0L8xOXJV3IUMdUSrJCDrubeU8TyTItc70KgREoK5Ipg_NKzP_3NH6O81rS04216G-LItWFwwG5rdWIEJkkLwjOyyiwm4Ipe0sZJMZAFH6GRQuR9e0AoI3yxUa3ehTZfmJv_qcXYGMbNM5bAIf0p7v7eFZIQjEE-AiMu7tNKkK8kXdY0JhGaS9KL8Wa2hFtAW0-3sGfPJdjAZLGUX1uV-AlybjmVstrQ4gct1UKMRtbDAA8WU4n-sFEsOxqN8eZ0q8oysaYuQkU-o33ntgsfJrMipdmA6fvfxvHpuGfpvdcXAFv10DFYopWleudb6sDwiebBKsRCczc6HCcLnFIAfVVuaaJe2hS_44GXdegyNozfz=w2000-h1082">
        <span class="reaction-counter">{{ likes }}</span>
    </button>
    <button class="btn follow">
      Follow 
      <img class="icon" src="./../../assets/img/profile/arrow-green.png" alt="arrow-green" title="Follow">
    </button>
    <button class="btn reactions">
      <img alt="Comments icon" title="Comment" class="post-reaction-icon" src="https://lh3.googleusercontent.com/qKuApZ3pbGbHu_Kd9nXxZ5-Gn9geAiwNnZtIGNRoLDATJjOPsykH6PAMks0A4fR3BDyIiV4ATCWuywFl5fkzCpmv8L2vschmKcsMoKu7rJjd-sgGwpYBAdhfLfpjt_tokdZbDVy_kDoRyVQ3a5bdk-uVApOJTeH-sSP-YsvvpbhY_SSmXmTj8WqrwCyndQcheSNp5kwo8PyC6c4aovEtShQL3CIwX-bnivYeAn79tWsg5GjGeSvVwNlVmw2YIGVSY7aSwloUGpwjUMLUKq_MXkxQZQKHuhQaLyM5bZuILVPv6dzDs2okaPlwH1J8O3a0FpBclGG8rCUT7P8rSvj6KNLkrcg83AE_PVP0ZxiW3ChEhSeJXfe2eU-SXr3D8WD9BvdMASxRkb60872ixDrTbNaXCyO4fbMK9qyugFfG1dK8Stl1vRo-NPJ0HQksH_-7I7bYK7huriaWm8So4rPLcUj8ozZboKp7SWuPV-tqSFKaOS-zVp-aChVRM114eacFM2SLLVQd7coRq6PunUPFGz8yEJvO_4CfvelYUgdwN-QGpNLqGWvHH4uJz0DCbz4-VdmxwxncXKLdiw7vpNwD-FOCAjtyhMQL=w1366-h380">
      <span class="reaction-counter">{{ comments }}</span>
    </button>
  </div>
</div>