<div data-component="register">
  <div class="block">
    <div class="top-bar">
      <button class="btn back" routerLink="../"></button>
      <h2 class="section-title">Sign Up</h2>
      <button class="btn done">Done</button>
    </div>
    
    <div class="wrapper-upload">
      <input class="upload-input" type="file" name="file" id="file">
      <label class="upload-label" for="file">
        <img class="upload-img" src="./../../assets/img/register/camera.png" alt="Upload Image" title="Upload your profile picture">
      </label>
    </div>
  </div>

  <form class="form">
    <input class="input-name" type="text" placeholder="First Name">
    <input class="input-name" type="text" placeholder="Last Name">
    <input class="input-full" type="email" placeholder="Email Address">
    <input class="input-full" type="password" placeholder="Choose a Password">
    <input class="input-number" type="number" placeholder="+1">
    <input class="input-number" type="number" placeholder="Phone Number">
    <div class="btn-holder">
      <button class="btn-submit" type="submit" routerLink="/my-profile">
        <span class="text">Get Started</span>
        <i class="arrow"></i>
      </button>
    </div>
  </form>

</div>

<router-outlet></router-outlet>